<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</head>
<body>
<input type="hidden" id="user-id" th:value="${user.id}">
<div id="user-profile-div"></div>
<div id="user-blog-div"></div>
<!-- Edit Profile Modal -->
<div class="modal fade" id="edit-profile-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit profile</h5>
            </div>
            <div class="modal-body" id="edit-profile-modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="updateUserProfile()">
                    Update
                </button>
                <button type="button" class="btn btn-secondary" onclick="hideEditModal()">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    //init
    window.onload = renderWall();

    //functions
    function updateUserProfile() {
        //update new profile
        let newFullName = $('#new-full-name').val();
        let newPassword = $('#new-password').val();
        let newProfilePicture = $('#old-profile-pic').val();
        //upload file
        let imageFile = $('#new-profile-pic')[0].files[0];
        //WARNING: success function of ajax request may execute after saving user
        if (imageFile != undefined) {
            newProfilePicture = "/files/" + imageFile.name;
            let file = new FormData();
            file.append("file", imageFile);
            // //ajax
            $.ajax({
                url: '../upload',
                data: file,
                enctype: 'multipart/form-data',
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST', // For jQuery < 1.9
                success: function (fileName) {
                    console.log(fileName + " uploaded successfully");
                },
            });
        }
        //save user
        let userId = $('#user-id').val();
        let user = {
            id: userId,
            fullName: newFullName,
            password: newPassword,
            profilePicture: newProfilePicture,
        };
        let url = "/users/" + userId;
        //ajax
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                'Authorization': localStorage.getItem("token"),
            },
            type: "POST",
            data: JSON.stringify(user),
            url: url,
            success: function (user) {
                console.log(user);
                hideEditModal();
                renderWall();
            },
            error: function () {
                console.log("failed to update user profile");
            }
        });
    }

    function renderWall() {
        let userId = $('#user-id').val();
        getUserProfile(userId);
        getUserBlogs(userId);
    }

    function getUserProfile(userId) {
        let url = "/users/" + userId;
        //ajax
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                'Authorization': localStorage.getItem("token"),
            },
            type: "GET",
            url: url,
            success: function (user) {
                renderUserProfile(user);
                renderEditModal(user);
            },
            error: function () {
                console.log("failed to get user profile");
            }
        });
    }

    function renderUserProfile(user) {
        let userProfileContent =
            `<img width="200px" src="${user.profilePicture}">
            <div>${user.fullName}</div>`;
        //Only show edit button for authenticated wall owner
        if (user.id == localStorage.getItem("userId")) {
            userProfileContent +=
                `<div sec:authorize="isAuthenticated()">
                    <button onclick="showEditModal(${user.id})">Edit</button>
                </div>`;
        }
        $('#user-profile-div').html(userProfileContent);
    }

    function renderEditModal(user) {
        let modalBodyContent =
            `<input type="text" id="new-full-name" value="${user.fullName}">
             <img width="200px" src="${user.profilePicture}">
             <input type="hidden" id="old-profile-pic" value="${user.profilePicture}">
             <input type="file" id="new-profile-pic">
             <input type="password" id="new-password" placeholder="Enter new password">`;
        $('#edit-profile-modal-body').html(modalBodyContent);
    }


    function showEditModal() {
        $('#edit-profile-modal').modal('show');
    }

    function hideEditModal() {
        $('#edit-profile-modal').modal('hide');
    }

    function getUserBlogs(userId) {
        let url = "/users/" + userId + "/blogs"
        //ajax
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                'Authorization': localStorage.getItem("token"),
            },
            type: "GET",
            url: url,
            success: function (blogs) {
                renderUserBlogs(blogs);
            },
            error: function () {
                console.log("failed to get user's blogs");
            }
        });
    }

    function renderUserBlogs(blogs) {
        let userBlogContent = ""
        for (let i = 0; i < blogs.length; i++) {
            let blog = blogs[i];
            userBlogContent +=
                `<img width="50px" src="${blog.user.profilePicture}">
                <div>${blog.user.fullName}</div>
                <div>${blog.date}</div>
                <div>${blog.content}</div>`;
        }
        $('#user-blog-div').html(userBlogContent);
    }
</script>
</body>
</html>