<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</head>
<body>
<input type="hidden" id="user-id" th:value="${user.id}">
<div id="user-profile-div"></div>
<div id="user-blog-div"></div>

<!-- Edit Profile Modal -->
<div class="modal fade" id="edit-profile-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit profile</h5>
            </div>
            <div class="modal-body" id="edit-profile-modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="updateUserProfile()">
                    Update
                </button>
                <button type="button" class="btn btn-secondary" onclick="hideEditModal()">Close</button>
            </div>
        </div>
    </div>
</div>


<script>
    //init
    window.onload = renderWall();

    //functions
    function updateUserProfile() {
        //update new profile
        let newFullName = $('#new-full-name').val();
        let newPassword = $('#new-password').val();
        let newProfilePicture = $('#old-profile-pic').val();
        //upload file
        let imageFile = $('#new-profile-pic')[0].files[0];
        //WARNING: success function of ajax request may execute after saving user
        if (imageFile != undefined) {
            newProfilePicture = "/files/" + imageFile.name;
            let file = new FormData();
            file.append("file", imageFile);
            // //ajax
            $.ajax({
                url: '../upload',
                data: file,
                enctype: 'multipart/form-data',
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST', // For jQuery < 1.9
                success: function (fileName) {
                    console.log(fileName + " uploaded successfully");
                },
            });
        }
        //save user
        let userId = $('#user-id').val();
        let user = {
            id: userId,
            fullName: newFullName,
            password: newPassword,
            profilePicture: newProfilePicture,
        };
        let url = "/users/" + userId;
        //ajax
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                'Authorization': localStorage.getItem("token"),
            },
            type: "POST",
            data: JSON.stringify(user),
            url: url,
            success: function (user) {
                console.log(user + "updated");
                localStorage.setItem("fullName", user.fullName);
                hideEditModal();
                renderWall();
            },
            error: function () {
                console.log("failed to update user profile");
            }
        });
    }

    function renderWall() {
        let userId = $('#user-id').val();
        getUserProfile(userId);
        getUserBlogs(userId);
    }

    function getUserProfile(userId) {
        let url = "/users/" + userId;
        //ajax
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                'Authorization': localStorage.getItem("token"),
            },
            type: "GET",
            url: url,
            success: function (user) {
                renderUserProfile(user);
                renderEditModal(user);
            },
            error: function () {
                console.log("failed to get user profile");
            }
        });
    }

    function renderUserProfile(user) {
        let userProfileContent =
            `<img class="profile-pic" src="${user.profilePicture}" alt="profile">
                <span class="profile-name">${user.fullName}</span>`;

        //Only show edit button for authenticated wall owner
        if (user.id == localStorage.getItem("userId")) {
            let editUserProfileContent =
                `<div sec:authorize="isAuthenticated()">
                        <button onclick="showEditModal(${user.id})" class="btn btn-primary btn-icon-text btn-edit-profile">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit btn-icon-prepend">
                        <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path>
                        <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path>
                    </svg>
                        Edit profile
                    </button>
                </div>`;
            $('#edit-user-profile-div').html(editUserProfileContent);
        }
        $('#user-profile-div').html(userProfileContent);
    }

    function renderEditModal(user) {
        let modalBodyContent =
            `<input type="text" id="new-full-name" value="${user.fullName}">
             <img width="200px" src="${user.profilePicture}">
             <input type="hidden" id="old-profile-pic" value="${user.profilePicture}">
             <input type="file" id="new-profile-pic">
             <input type="password" id="new-password" placeholder="Enter new password">`;
        $('#edit-profile-modal-body').html(modalBodyContent);
    }


    function showEditModal() {
        $('#edit-profile-modal').modal('show');
    }

    function hideEditModal() {
        $('#edit-profile-modal').modal('hide');
    }

    function getUserBlogs(userId) {
        let url = "/users/" + userId + "/blogs"
        //ajax
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                'Authorization': localStorage.getItem("token"),
            },
            type: "GET",
            url: url,
            success: function (blogs) {
                renderUserBlogs(blogs);
            },
            error: function () {
                console.log("failed to get user's blogs");
            }
        });
    }

    function renderUserBlogs(blogs) {
        let userBlogContent = ""
        for (let i = 0; i < blogs.length; i++) {
            let blog = blogs[i];
            userBlogContent +=
                `<div class="row">
          <div class="col-md-12 grid-margin">
            <div class="card rounded">
              <div class="card-header">
                <div class="d-flex align-items-center justify-content-between">
                  <div class="d-flex align-items-center">
                    <img class="img-circle rounded-circle" src="${blog.user.profilePicture}" alt="">
                    <div class="ml-2">
                      <p>${blog.user.fullName}</p>
                      <p class="tx-11 text-muted">${blog.date}</p>
                    </div>
                  </div>
                  <div class="dropdown">
                    <button class="btn p-0" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal icon-lg pb-3px">
                        <circle cx="12" cy="12" r="1"></circle>
                        <circle cx="19" cy="12" r="1"></circle>
                        <circle cx="5" cy="12" r="1"></circle>
                      </svg>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                      <a class="dropdown-item d-flex align-items-center" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-meh icon-sm mr-2">
                          <circle cx="12" cy="12" r="10"></circle>
                          <line x1="8" y1="15" x2="16" y2="15"></line>
                          <line x1="9" y1="9" x2="9.01" y2="9"></line>
                          <line x1="15" y1="9" x2="15.01" y2="9"></line>
                        </svg> <span class="">Unfollow</span></a>
                      <a class="dropdown-item d-flex align-items-center" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-corner-right-up icon-sm mr-2">
                          <polyline points="10 9 15 4 20 9"></polyline>
                          <path d="M4 20h7a4 4 0 0 0 4-4V4"></path>
                        </svg> <span class="">Go to post</span></a>
                      <a class="dropdown-item d-flex align-items-center" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-share-2 icon-sm mr-2">
                          <circle cx="18" cy="5" r="3"></circle>
                          <circle cx="6" cy="12" r="3"></circle>
                          <circle cx="18" cy="19" r="3"></circle>
                          <line x1="8.59" y1="13.51" x2="15.42" y2="17.49"></line>
                          <line x1="15.41" y1="6.51" x2="8.59" y2="10.49"></line>
                        </svg> <span class="">Share</span></a>
                      <a class="dropdown-item d-flex align-items-center" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-copy icon-sm mr-2">
                          <rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect>
                          <path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path>
                        </svg> <span class="">Copy link</span></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <p class="mb-3 tx-14">${blog.content}</p>
              </div>
              <div class="card-footer">
                <div class="d-flex post-actions">
                  <a href="javascript:;" class="d-flex align-items-center text-muted mr-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart icon-md">
                      <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                    </svg>
                    <div class="dropdown">
                                <p onmouseover="renderBlogReactModal(${blog.id})" class="d-none d-md-block ml-2">Like</p>
                            <div class="dropdown-content">
                               <div class="blog-react-modal-body">

                               </div>
                            </div>
                            </div>
                  </a>
                  <a href="javascript:;" class="d-flex align-items-center text-muted mr-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square icon-md">
                      <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path>
                    </svg>
                    <p class="d-none d-md-block ml-2">Comment</p>
                  </a>
                  <a href="javascript:;" class="d-flex align-items-center text-muted">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-share icon-md">
                      <path d="M4 12v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8"></path>
                      <polyline points="16 6 12 2 8 6"></polyline>
                      <line x1="12" y1="2" x2="12" y2="15"></line>
                    </svg>
                    <p class="d-none d-md-block ml-2">Share</p>
                  </a>
                </div>
              </div>
            </div>
          </div>`
        }
        $('#user-blog-div').html(userBlogContent);
    }
</script>
</body>
</html>