<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="templates::head"></head>
<body>
<div th:replace="templates::navbar"></div>
<input type="hidden" id="user-id" th:value="${user.id}">
<div class="container" id="topPage" style="margin-top: 25px">
    <div th:replace="templates::profileHeader"></div>
    <div class="row">
        <div class="col-sm-6 col-md-2">
            <div th:replace="templates::leftSideBarContent"></div>
        </div>
        <div class="col-sm-6 col-md-8">
            <div th:replace="templates::mainContent"></div>
        </div>
        <div class="col-sm-6 col-md-2">
            <div th:replace="templates::rightSideBarContent"></div>
        </div>
    </div>
</div>
<div th:replace="templates::modals"></div>
<script type="text/javascript" src="/templateHome/js/jquery.js"></script>
<script type="text/javascript" src="/templateHome/js/bootstrap.js"></script>
<script src="../js/scripts.js"></script>
<script>
    let blogLimit;
    window.onload = function () {
        blogLimit = 5;
        getUserProfile(getWallOwnerId());
        showListBlog(getWallOwnerId());
    }
</script>
</body>
</html>