<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Comment</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
<button type="button" id="commentList">List</button>
<div style="border: 1px solid black;height: 500px" id="write_data_comment">

</div>



<script>
    function showComment(){
        $.ajax({
            type:"GET",
            url:"/comment/commentList",
            success: function (data){
                let content = `<table class="table" style="border-radius: 5px"> <tr style="text-align: center">
                               <th scope="col">Id</th>
                               <th scope="col">Content</th>
                               <th scope="col">Date</th>
                               <th scope="col" colspan="2">Action</th>`
                for (let i = 0 ; i < data.length;i++){
                    content += getComment(data[i])
                }
                document.getElementById("write_data_comment").innerHTML = content;

            }
        })
    }
    function getComment(comment){
        return `<tr style="text-align: center">
                <td>${comment.id}</td>
                <td>${comment.content}</td>
                <td>${comment.date}</td>
                <td><button onclick="" type="button" class="btn btn-danger" id="${comment.id}">Delete</button></td>
                <td><button onclick="" type="button" class="btn btn-primary " id="${comment.id}">Edit</button></td>`

    function getProduct(product) {
        return `<tr style="text-align: center; vertical-align: middle">
    <td>${product.name}</td>
    <td>${product.sellPrice}</td>
    <td>${product.realPrice}</td>
    <td>${product.sale}%</td>
    <td>${product.purchasePrice}</td>
    <td>${product.quantity}</td>
    <td><img style="width: 70px; height: 70px" src="${product.img}">
    </td><td >${product.description}</td>
    <td>
        <button onclick="deleteById(this.id)" type="button" class="btn btn-danger" data-bs-toggle="modal"
                data-bs-target="#delete" id="${product.id}">
            Delete
        </button>
    </td>
    <td>
        <button onClick="findSmartPhone(this.id)" type="button" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop" id="${product.id}">
            Edit
        </button>
    </td></tr>
    `;
    }
function showProduct() {
$.ajax({
type: "get",
url: "/products/productList",
success: function (data) {
let content = `<table class="table" style="border-radius: 5px"> <tr style="text-align: center">
    <th scope="col">Name</th>
    <th scope="col">Sell Price</th>
    <th scope="col">Sale Price</th>
    <th scope="col">Sale</th>
    <th scope="col">Purchase Price</th>
    <th scope="col">Quantity</th>
    <th scope="col">Image</th>
    <th scope="col">Description</th>
    <th scope="col" colspan="2">Action</th>`;
    for (let i = 0; i < data.length; i++) {
    content += getProduct(data[i]);
    }
    document.getElementById('productList').innerHTML = content;
    }
    })
    };

    </script>
</body>
</html>